.container.form {
    margin-top: 15vh;
    bottom: 0%;
    width: 100%;
    height: 100%;
}

#form {
    position: absolute;
    background-color: white;
    border-radius: 4px;
    width: 90%;
    height: 32vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 2px 4px black;
}

#form #radio {
    margin-top: 3%;
    margin-left: 4%;
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

#form #radio .radio {
    font-size: 90%;
    font-weight: 300;
    font-size: 100%;
}

#form #radio .radio+.radio {
    margin-left: 1%;
}

#form #dados {
    width: 95%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#form #dados .dado {
    width: 22vw;
    height: 9vh;
    display: flex;
    flex-direction: column;
}

#form #dados .dado small {
    font-size: 80%;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);
}

#form #dados .dado .img {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 20vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

#form #dados .dado .img span {
    height: 4vh;
    width: 3vw;
}

#form #dados .dado .img span img {
    height: 4vh;
    width: 3vw;
}

#form #dados .dado .img+.img {
    margin-left: 2%;
}

#form #dados .dado .img input {
    width: 15vw;
    height: 4vh;
    border: 0;
    outline: none;
    font-size: 2.5vh;
}

#form #botao {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 9%;
    margin-bottom: 1%;
}

#form #botao button {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(81, 81, 230);
    border: 0;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    transition: 400ms;
    font-weight: 500;
}

#form #botao button:hover {
    background-color: rgb(65, 65, 197);
}

#form #botao button span {
    margin-right: 3%;
}

#form #botao button span img {
    width: 80%;
    height: 80%;
}

@media(max-width:924px) {
    #form {
        margin-top: 25vh;
        justify-content: center;
        align-items: center;
        width: 45vw;
        height: 50vh;
    }
    #form #radio {
        margin-top: 3%;
        margin-left: 4%;
        justify-content: center;
        font-size: 1.5vh;
    }
    #form #dados {
        flex-direction: column;
    }
    #form #dados .dado {
        width: 90%;
    }
    #form #dados .dado small {
        font-size: 1.5vh;
    }
    #form #dados .dado .img {
        width: 100%;
        height: 3vh;
    }
    #form #dados .dado .img span {
        height: 3vh;
        width: 3vw;
    }
    #form #dados .dado .img span img {
        height: 3vh;
        width: 3vw;
    }
    #form #dados .dado .img input {
        width: 90%;
        height: 2vh;
        font-size: 1.5vh;
    }
    #form #botao button {
        width: 50%;
        height: 60%;
        font-size: 1.5vh;
    }
}