.container{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#barra{
    position: relative;
    width: 90%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white
}
#barra #menu{
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#barra #menu .menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#barra a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
#barra a:hover{
    text-decoration: underline;
}
#barra #menu img{
    width: 8vw;
    height: 8vh;
}
#barra #login{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#barra #login #cel{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: none;
}
#barra #login #cel img{
    width: 10vw;
    height: 10vh;
}
#barra #login #desktop{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#barra #login button{
    height: 60%;
    width: 50%;
    border: 1px solid white;
    border-radius: 4px;
    background-color: rgba(0,0,0,0);
    color: white;
    font-size: 85%;
    cursor: pointer;
    transition: 400ms;
    outline: none;
}
#barra #login button:hover{
    background-color: rgba(255,255,255,0.4);
}
#barra #login #cel button{
    border: none;
}
#barra #login #cel button:hover{
    background-color: rgba(0,0,0,0);
}
@media(max-width:960px){
    #barra{
        width: 100%;
        padding-left: 3vw;
    }
    #barra #menu .menu{
        display: none;
    }
    #barra #login #desktop{
        display: none;
    }
    #barra #login #cel{
        display: inline;
    }
}
@media(max-width:266px){
    #barra #menu img{
        width: 50%;
        height: 50%;
    }
}